html {
  box-sizing: border-box;
  background-color: #6EC1F8; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Place your styles below */
header {
	text-align: center;
}
main {
	text-align: center;
}
#form-submit{
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width: 200px;
	height: 50px;
	align: center;
} 
#try-again{
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width: 200px;
	height: 50px;
	display: none;
}
#quiz-wrapper{
	align-content: center;
	display: flex;
}

/*#frontImage{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around; 

}*/
.questions{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	width: 75%;

}
h2{
	flex-basis: 100%;
	font-size: 2em;
}
input{
	flex-basis: 50%;
}
.result{
	display: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 250px;
	height: 400px;
	background-repeat: none;
	background-size: cover;
	background-position: center;
}
@media screen and (min-width: 768px) {
	#quiz-wrapper{
		flex-direction: row;
	}
}
body div{
	border-color: black;
}

img{
	width: 50%;
	height: 50%;
	align-content: center;
}